/*01 GENERALS*/

/*02 HEADER*/

/*03 NASLOVNA MAIN CONTENT*/

/*FOOTER*/

/*KONTAKT MAIN CONTENT*/

/*MEDIA QUERY*/

/*01 GENERALS*/

body {
  background: #e6e387;
}

a:hover {
  text-decoration: none;
}

/*02 HEADER*/

.pet-main-nav {
  background-color: #efe248;
  box-shadow: 0 1px 2px #58401b;
}

.pet-main-logo {
  width: 80px;
  height: 80px;
  z-index: 2;
}

.pet-logo-img {
  width: 95px;
  height: 95px;
}

.pet-nav-ul {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}

.pet-nav-link {
  width: 100px;
  color: black !important;
  font-weight: bold;
}

.pet-nav-link:hover {
  text-decoration: underline;
}

/*Umesto klase .active koristimo
drugi nacin isticanja trenutnog linka*/

.o-nama .o-nama-nav, .kontakt .kontakt-nav, .galerija .galerija-nav, .blog .blog-nav, .ponuda .ponuda-nav {
  background: #efca16;
  border-radius: 10px;
}

/*03 NASLOVNA MAIN CONTENT*/

/*side bar*/

.pet-main-content-all-wrapper {
  position: relative;
}

.pet-side-bar-holder {
  position: absolute;
  left: 0; 
  background: #58401b;
  height: 450px;
  width: 55%;
  border-radius: 0 0 10px 0;
}

.pet-side-bar-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0 0 3px #58401b;
}

.pet-side-bar-txt-all {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

.pet-side-bar-txt-all:hover {
  text-decoration: none;
}

.pet-side-bar-txt-123 {
  margin-top: -20px;
}

.pet-side-bar-txt-4 {
  margin-top: -30px;
}

/*carousel */

.pet-slider-holder {
  background: whitesmoke;
}

.carousel-inner .carousel-item {
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}

/*o nama*/

.pet-o-nama-title {
  font-family: 'Indie Flower', cursive;
}

.pet-o-nama-txt {
  font-family: 'Kalam', cursive;
  font-size: 17px;
  /*background: #efe248;*/
}

/*KONTAKT MAIN CONTENT*/

.pet-map {
  height: 37rem;
  background-color: #efca16;
}

.pet-contact-info ul {
  list-style: none;
  padding-left: 0;
}

/*BLOG MAIN CONTENT*/

.card{
  background-color: white;
}


/*MEDIA QUERY*/

@media only screen and (min-width: 991px) {
  /*lg - nav bar*/
  .pet-nav {
    height: 103px;
  }
  .nav-item {
    height: 100%;
  }
  /*lg side bar visible*/
  .pet-large-screen-side-bar-solution {
    display: block;
  }
  .pet-side-bar-content-holder {
    margin-left: 16px;
  }
  .pet-side-bar-img {
    margin-left: 24px;
  }
  .pet-side-bar-img:hover {
    margin-left: 40px;
    transition: 1s ease;
  }
  /*under-nav bar disappear*/
  .pet-mobile-side-bar-solution {
    display: none;
  }

  /*skriveni side-bar*/
  .pet-side-bar-holder-hidden {
    float: left;
    top: 50px !important;
    margin-bottom: -50px;
    margin-left: -43px;
    background: #58401b;
    height: 450px;
    width: 43px;
    border-radius: 0 0 10px 0;
    z-index: 1;
  }

  .pet-fa-icon-paw {
    font-size: 35px;
  }

  .pet-fa-icon-paw1 {
    color: #adcae9;
  }

  .pet-fa-icon-paw2 {
    color: #f38585;
  }

  .pet-fa-icon-paw3 {
    color: #9ad86c;
  }

  .pet-fa-icon-paw4 {
    color: #fff772;
  }

  .clearfix:after {
      content: "";
      clear: both;
      display: table;
  }

  /*animacija 'o nama'*/
  .pet-div-anim1 {
    position: relative;
    height: 302px;
  }

  .pet-img-anim1 {
    height: 0;
    position: absolute;
    bottom: -302px;
    right: 0;
    z-index: 2;
  }

  .pet-div-anim2 {
    position: relative;
    height: 302px;
  }

  .pet-txt-anim2 {
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: #efe248;
    overflow: hidden;
  }

  .pet-div-anim3 {
    position: relative;
    height: 302px;
  }

  .pet-txt-anim3 {
    height: 0;
    position: absolute;
    top: -302px;
    right: 0;
    z-index: 3;
    background: #efe248;
  }

  .pet-div-anim4 {
    position: relative;
    height: 302px;
  }

  .pet-img-anim4 {
    height: 0;
    position: absolute;
    top: -302px;
    left: 0;
    z-index: 2;
  }

  .pet-ex-span-anim1, .pet-ex-span-anim2 {
    opacity: 0;
  }
}

@media only screen and (max-width: 991px) {
  /*lg side bar disappear*/
  .pet-large-screen-side-bar-solution, .pet-fa-icon-paw {
    display: none;
  }
  
  /*hidden lg side bar dont appear*/
  .pet-side-bar-holder-hidden {
    display: none;
  }
 
  /*under-nav bar visible*/
  .pet-mobile-side-bar-solution {
    display: block;
  }
  .pet-side-bar-content-holder {
    background: #58401b;
  }
  .pet-side-bar-img {
    margin-bottom: -15px;
  }
  .pet-side-bar-img:hover {
    transform: scale(1.2);
    transition: 1s;
  }
  .pet-side-bar-txt-123 {
    margin-top: -10px;
  }
  .pet-side-bar-txt-4 {
    margin-top: -10px;
  }
  .pet-map {
    height: 20rem;
  }
  
  /*text 'o nama pozadina'*/
  .pet-o-nama-txt {
    background: #efe248;
  }
}

@media only screen and (max-width: 735px) {
  /*side bar imgs and txt respo*/
  .pet-side-bar-img {
    width: 60px;
    height: 60px;
    margin-bottom: -15px;
  }
  .pet-side-bar-txt-all {
    font-size: 17px;
  }
  .pet-side-bar-txt-123 {
    margin-top: -10px;
  }
  .pet-side-bar-txt-4 {
    margin-top: -10px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 471px) {
  /*bunny img respo*/
  .pet-side-bar-txt-4 {
    margin-top: -21px;
  }
}

/*TEST AREA*/


/*.pet-bcg-img-anim {
  bottom: 0;
  left: 0;
  height: 302px;
  z-index: 1;
  position: absolute;
}*/









